<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MeowRain的个人主页</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 text-center">MeowRain</h1>
          <p class="lead text-center">一个喜欢编程的猫</p>
        </div>
      </div>
    </header>
    <main class="container mt-4">
      <section>
        <h2>关于我</h2>
        <hr>
        <p>我叫MeowRain，是一只喜欢编程的猫，目前在一家软件公司做前端开发。</p>
        <p>我喜欢写代码，喜欢探究技术的奥秘，希望能够成为一名出色的程序员。</p>
        <p>除了编程，我还热爱音乐和电影，喜欢看科幻和恐怖片，最近在学习钢琴，希望有朝一日能够弹一首自己的曲子。</p>
      </section>
      <hr>
      <section>
        <h2>技能</h2>
        <hr>
        <ul>
          <li>HTML5/CSS3</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>Bootstrap</li>
          <li>Vue.js</li>
          <li>React</li>
        </ul>
      </section>
      <hr>
      <section>
        <h2>作品</h2>
        <hr>
        <div class="row">
          <div class="col-sm-6 col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="https://t.lizi.moe/mp" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">项目1</h5>
                <p class="card-text">这里是项目1的描述。</p>
                <a href="#" class="btn btn-primary">查看详情</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="https://t.lizi.moe/mp" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">项目2</h5>
                <p class="card-text">这里是项目2的描述。</p>
                <a href="#" class="btn btn-primary">查看详情</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="https://t.lizi.moe/mp" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">项目3</h5>
                <p class="card-text">这里是项目3的描述。</p>
                <a href="#" class="btn btn-primary">查看详情</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="https://t.lizi.moe/mp" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">项目4</h5>
                <p class="card-text">这里是项目4的描述。</p>
                <a href="#" class="btn btn-primary">查看详情</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="mt-4">
      <div class="container">
        <p class="text-center">© 2021 MeowRain</p>
      </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
